.Button {
  color: black;
:global(.icon_Icon__vdEsc) {
  color: black;
}

}
.PrimaryButton {
  color: black;
:global(.icon_Icon__vdEsc) {
  color: black;
}

color: green;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.00938em;


}