// cssmodules-pure-ignore
:global(.Button_wIxfWW) {
  color: red;
  height: 10px;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  z-index: -1;
}
// cssmodules-pure-ignore
:global(.Button___wIxfWW) {
  color: var(--color-secondary);
  background-color: var(--color-primary);
}