// cssmodules-pure-ignore
:global(.Headline_mxjUbw) {
  color: red;
  
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.00938em;
    
}
// cssmodules-pure-ignore
:global(.Button_mxjUbw) {
  color: red;
  
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.00938em;
    
}