name: autofix.ci
on:
  pull_request:
  push:
    branches: ["main"]
permissions:
  contents: read

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
      - name: Enable caching
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: packages/yak-swc

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 9.12.3
          run_install: false

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install

      - name: Prettier Next Yak
        run: pnpm prettier

      - name: Prettier Examples
        run: npx prettier --write "packages/example/app/**/*.{ts,tsx,js,jsx}"

      - name: Benchmarks
        run: npx prettier --write "packages/benchmarks/**/*.{ts,tsx}" --ignore-path "packages/benchmarks/.prettierignore"

      - uses: autofix-ci/action@d3e591514b99d0fca6779455ff8338516663f7cc
